figures/msim-schema.png
spatial-microsim-book*
backup-code/
figures/CakeMap.png
frontmatter/
*.tex
*.aux
*.orig
*.docx
.Rproj.user
*.pdf
.history
*.backup
*.md~
*.toc
*.kilepr
.Rhistory
.RData
*.gz
ggmap*
.Rproj.user
*.cls
*unnamed*
book/
