spatial-microsim-book*
backup-code/
figures/CakeMap.png
*.tex
*.aux
*.orig
*.docx
.Rproj.user
*.pdf
.history
*.backup
*.md~
*.toc
*.kilepr
.Rhistory
.RData
*.gz
ggmap*
.Rproj.user
*.cls
book/
_site/
temp.*
book.Rmd
*.html
drafts/
.dropbox
*.out
comments.ods
cache-CakeMap.RData
.~lock.book.docx#
desktop.ini
*.log
book.odt
frontmatter/rough-drafts/stackXquestion.R
*.bak
master.zip
BEL_adm4.rds
libs
_book
_bookdown_files
_main*
